<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suministros Informaticos - Proveedores</title>
    <!-- Vinvulamos el html con el css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <!-- Introducimos el Tema personalizado Sketchy desde BootstrapCDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/litera/bootstrap.min.css" integrity="sha384-enpDwFISL6M3ZGZ50Tjo8m65q06uLVnyvkFO3rsoW0UC15ATBFz3QEhr3hmxpYsn" crossorigin="anonymous">
    <!-- Fuente personalizada de Google Fonts: Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <!--Barra de navegación-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <img class="icon" src="{{ url_for('static', filename='img/Icon.png') }}" width="60px" height="60px">
            <a class="navbar-brand" href="/">Suministros Informaticos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                </ul>
                <span class="navbar-text" style="float=right"><strong>Edición información del proveedor</strong></span>
            </div>
        </div>
    </nav></br>
    <!--Hacemos 2 tablas para mostrar tanto la información del proveedor como la de los productos que tiene-->
    <div class="container">
        <section>
        <!--Lista de los datos del proveedor-->
        <h4>Edición del proveedor:</h4></br>
        <!--Formulario para modificar la información del proveedor-->
        <form action="/info_proveedores_admin" method="post">
            <input value="{{proveedor.id}}" type="hidden" class="form-control" id="id" name="id">
            <div class="mb-3">
                <label for="proveedor" class="form-label">Proveedor:</label>
                <input value="{{proveedor.proveedor}}" disabled="disabled" type="text" class="form-control" id="proveedor" name="proveedor">
            </div>
            <div class="mb-3">
                <label for="telefono" class="form-label">Teléfono:</label>
                <input value="{{proveedor.telefono}}" type="text" class="form-control" id="telefono" name="telefono">
            </div>
            <div class="mb-3">
                <label for="direccion" class="form-label">Dirección:</label>
                <input value="{{proveedor.direccion}}" type="text" class="form-control" id="direccion" name="direccion">
            </div>
            <div class="mb-3">
                <label for="cif" class="form-label">CIF:</label>
                <input value="{{proveedor.cif}}" type="text" class="form-control" id="cif" name="cif">
            </div>
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
        </form>
        <hr class="my-4">
    </section>
    </div>
</body>
</html>